node-red/flows.json
[{"id":"84c18073.bc417","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"9d94174f.083c98","type":"google-cloud-credentials","z":"","name":"GCP_GCS"},{"id":"13783ce3.080013","type":"inject","z":"84c18073.bc417","name":"cron","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["36d9b218.189f4e"]]},{"id":"5aa42b5f.761594","type":"google-cloud-gcs-read","z":"84c18073.bc417","account":"9d94174f.083c98","keyFilename":"","filename":"","list":false,"name":"","x":180,"y":140,"wires":[["44382428.c8fe7c"]]},{"id":"aa78b858.4cdfc8","type":"function","z":"84c18073.bc417","name":"Get Setting Parameter","func":"msg.filename = \"gs://covid19-tokyo/_Setting.txt\";\nmsg.contentType = \"text/plain\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["5aa42b5f.761594"]]},{"id":"71e056f9.f61bb8","type":"debug","z":"84c18073.bc417","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":280,"wires":[]},{"id":"44382428.c8fe7c","type":"function","z":"84c18073.bc417","name":"buffer->string","func":"msg.payload = msg.payload.toString('utf8')\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["f799cdcd.4d548"]]},{"id":"36d9b218.189f4e","type":"function","z":"84c18073.bc417","name":"set isGCE","func":"msg.isGCE = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[["aa78b858.4cdfc8"]]},{"id":"f799cdcd.4d548","type":"switch","z":"84c18073.bc417","name":"isGCE?","property":"isGCE","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":180,"wires":[[],["22eb8723.533658"]]},{"id":"b5162869.260018","type":"exec","z":"84c18073.bc417","command":"python -u D:/#WorkSpace/ReadCovid-19/node-red/work/getURL.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"(local)getURL","x":320,"y":380,"wires":[["71e056f9.f61bb8"],["9aa3df59.db0b8"],["c0411c9c.82049"]]},{"id":"22eb8723.533658","type":"file","z":"84c18073.bc417","name":"(local)save","filename":"D:\\#WorkSpace\\ReadCovid-19\\node-red\\work\\_Setting.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"Shift_JIS","x":490,"y":220,"wires":[["ac7dd832.eec018"]]},{"id":"ac7dd832.eec018","type":"switch","z":"84c18073.bc417","name":"isGCE?","property":"isGCE","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":300,"wires":[["11c24c8.778f5b4"],["b5162869.260018"]]},{"id":"11c24c8.778f5b4","type":"exec","z":"84c18073.bc417","command":"python3 -u /mnt/ReadCovid-19/linebotTextSendMessage.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"(GCE)getURL","x":320,"y":300,"wires":[["71e056f9.f61bb8"],["9aa3df59.db0b8"],["c0411c9c.82049"]]},{"id":"9aa3df59.db0b8","type":"debug","z":"84c18073.bc417","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":320,"wires":[]},{"id":"c0411c9c.82049","type":"debug","z":"84c18073.bc417","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":360,"wires":[]}]